body {
  font-family: 'Lucida Sans';
  margin: 0;
  padding: 0;
  direction: rtl;
  scroll-behavior: smooth;
}
header 
{
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: dimgray;
}

.navbar 
{
  padding: 2% 0;
}

.nav-links
 {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-links li 
{
  margin: 0 2%;
}

.nav-links a 
{
  color: brown;
  text-decoration: none;
  padding: 1% 2%;
  transition: background 0.3s;
}

.nav-links a:hover {
  background-color: sandybrown;
  border-radius: 5px;
}

.hero
{
padding: 85px 0;
}
.hero1
{
  flex: 1;
  padding-left: 45px;
}
.hero-container
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero p
{
color: brown;
}
.hero-img
{
  flex: 1;
  max-width: 50%;
}

.hero-img img 
{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cards
{
  padding: 60px 0;
  background-color: lightgoldenrodyellow;
}
.cards-container
{
  text-align: center;
}

.cards p
{
  color: black;
  margin-bottom:  20px
}

.cards-grid
{
  display: grid;
  grid-template-columns:320px 320px 320px;
  grid-template-rows: 200px 200px 200px;
  justify-content: space-around;
  align-content: space-around;
  row-gap: 100px;
  margin-top: 40 px;
}

.card 
{
  height: 200px;
  background-color: beige;
  background-size: cover;
  border-radius: 40px;
  padding: 50 px;
  text-align: center;
}

.card img
{
  
width: 100%;
max-height: 70%;
border-radius: 10px;
margin-bottom: 20px;
object-fit: cover;
}

.card p
{
  color: black;
  margin-bottom: 20px;
}

footer 
{
  background-image: url("להוסיף קישור לתמונת רקע לפוטר");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: brown;
  padding: 25px 0;
  text-align: center;
}

.footer-container
{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}